{
    "$schema": "http://json-schema.org/draft-06/schema#",
    "title": "Location set",
    "type": "array",
    "items": {
        "type": "object",
        "$ref": "file://{%s}/location.json.schema"
    }
}
